@{
    ViewData["Title"] = "Made by";
}
<h2>@ViewData["Title"]</h2>

<h3>
    Martijn Kalteren
</h3>

<address>
    <strong>Mail:</strong> <a href="mailto:martijn_kalteren@hotmail.com">martijn_kalteren@hotmail.com</a>
</address>
